/* Base styles */
body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
}

main {
    padding: 100px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 60px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #e63946;
    display: inline-block;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
.btn {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d62828;
}

.start-btn, .next-btn {
    background-color: #457b9d;
}

.start-btn:hover, .next-btn:hover {
    background-color: #1d3557;
}

/* Grid Layout for Answer Buttons */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.hide {
    display: none;
}

/* Custom Styles for Different Sections */
#question-container {
    margin-top: 20px;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center, space-evenly;
}